<nav>
  <div>
    <img src="assets/takima-logo.png" routerLink="" />
    <mat-nav-list>
      <a *ngFor="let link of links" mat-list-item [routerLink]="link.href" routerLinkActive="active" [ngClass]="{'special-link': link.name === 'Connexion' || link.name === 'Panier'}">
        <span>{{ link.name }}</span>
      </a>
      <a mat-list-item [routerLink]="'users'" *ngIf="!isLoggedIn" routerLinkActive="active" class="special-link">
        <span>Connexion</span>
      </a>
      <!-- Condition pour afficher le nom d'utilisateur s'il est connecté -->
      <a mat-list-item [routerLink]="'users'" *ngIf="isLoggedIn" class="username"><span>{{ usernameFromAuth }}</span></a>
    </mat-nav-list>
  </div>
</nav>
