<!--<div *ngIf="user">
  <h1>Bienvenue {{ user.username }}</h1>
  <div>
    <h2>Vos informations</h2>
    <form (ngSubmit)="updateProfile()">
      <label for="first_name">Nom :</label>
      <input type="text" id="first_name" [(ngModel)]="user.first_name" name="first_name">
      <br>
      <label for="last_name">Prénom :</label>
      <input type="text" id="last_name" [(ngModel)]="user.last_name" name="last_name">
      <br>
      <label for="email">Mail :</label>
      <input type="text" id="email" [(ngModel)]="user.email" name="email">
      <br>
      <button type="submit">Sauvegarder</button>
    </form>
  </div>
</div>-->
<section style="background-color: #eee;" >
  <div class="container py-5" *ngIf="user">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                 class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3" style=" font-weight: bold;">{{ user.username }}</h5>
            <div class="d-flex justify-content-center mb-2">
              <!--<button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary ms-1">Sauvegarder</button>
            --></div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Nom</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.first_name }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Prénom</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.last_name }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.email }}</p>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
